<div class="top-news">
    <p class="top-news-title">Top News</p>
    <div class="row">
        <div class="col-lg-6">
            <div class="top-news-left mb-3">
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let y of images">
                        <div class="wrapper tn-img">
                            <img src="{{y.url}}" alt="Random first slide" height="500px">
                            <div class="tn-title">
                                <a href="">{{y.title}}</a>
                            </div>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
            <!-- <div class="item">
                <div class="tn-img">
                    <img src="https://www.livemint.com/lm-img/img/2024/03/05/600x338/UAE-POLITICS-SUMMIT-43_1709621340111_1709621364597.jpg"
                        height="410px" max-width="100%" />
                    <div class="tn-title">
                        <a href="">No Indian troops to remain in Maldives, not even in civilian
                            clothing,’ says president Mohamed Muizzu</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="tn-img">
                    <img src="https://www.hindustantimes.com/ht-img/img/2024/03/07/550x309/INDIA-KASHMIR-MODI_1709771668888_1709771669405.JPG"
                        height="410px" max-width="100%" />
                    <div class="tn-title">
                        <a href="">Modi in Kashmir: Srinagar stadium draped in tricolour; Omar
                            Abdullah's big claim </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="tn-img">
                    <img src="https://static.toiimg.com/thumb/msid-108285130,imgsize-692167,width-400,height-225,resizemode-72/108285130.jpg"
                        height="410px" max-width="100%" />
                    <div class="tn-title">
                        <a href="">Bengaluru water crisis: Whitefield companies brace for impact, Peenya
                            industries face production cut</a>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="col-lg-6">
            <div class="top-news-right mb-3 h-100">
                <div class="row">
                    <div class="col-sm-6" *ngFor="let x of data_of_news">
                        <div class="tn-img">
                            <img src="{{x.url}}" alt="news" height="240px" width="100%">
                            <div class="tn-title">
                                <a href="">{{x.title}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>