<div class="footer container-fluid mt-4">
    <div class="p-5 container-lg">
        <div class="footer-inner">
            <div class="mb-3">
                <div class="footer-item ms-3 ms-md-0">
                    <p class="item-title mb-2">Get in Touch</p>
                    <div class="contact-info d-flex flex-column ms-1">
                        <p class="info my-1 text-decoration-none"><i class="fa fa-map-marker me-1"></i>208, Elite
                            Complex, Sola</p>
                        <a class="info text-decoration-none my-1"><i
                                class="fa fa-envelope me-1"></i>info&#64;example.com</a>
                        <a class="info text-decoration-none my-1"><i class="fa fa-phone me-1"></i>+123-456-7890</a>
                        <div class="social d-flex">
                            <a href="" class="me-2"><i class="fab fa-twitter"></i></a>
                            <a href="" class="me-2"><i class="fab fa-facebook-f"></i></a>
                            <a href="" class="me-2"><i class="fab fa-linkedin-in"></i></a>
                            <a href="" class="me-2"><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3 ms-sm-2">
                <div class="footer-item">
                    <p class="item-title mb-1">Useful Links</p>
                    <ul class="ms-3">
                        <li><a href="#">Latest News</a></li>
                        <li><a href="#">Trending News</a></li>
                        <li><a href="#">Popular News</a></li>
                        <li><a href="#">Featured News</a></li>
                        <li><a href="#">Most Viewed</a></li>
                    </ul>
                </div>
            </div>
            <div class="mb-3 ms-sm-2">
                <div class="footer-item">
                    <p class="item-title mb-1">Category</p>
                    <ul class="ms-3">
                        <li><a href="#">Entertainment</a></li>
                        <li><a href="#">Politics</a></li>
                        <li><a href="#">Boolywood</a></li>
                        <li><a href="#">Health And Wellness</a></li>
                        <li><a href="#">Education News</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>