<div class="trending mb-5">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="item-inner">
                <img src="https://www.livemint.com/lm-img/img/2024/03/05/600x338/UAE-POLITICS-SUMMIT-43_1709621340111_1709621364597.jpg"
                    width="100%" class="img-fluid" />
                <div class="tr-title">
                    <a href="">No Indian troops to remain in Maldives, not even in civilian
                        clothing,’ says president Mohamed Muizzu</a>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="item-inner">
                <img src="https://www.hindustantimes.com/ht-img/img/2024/03/07/550x309/INDIA-KASHMIR-MODI_1709771668888_1709771669405.JPG"
                    width="100%" class="img-fluid" />
                <div class="tr-title">
                    <a href="">Modi in Kashmir: Srinagar stadium draped in tricolour; Omar
                        Abdullah's big claim </a>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="item-inner">
                <img src="https://static.toiimg.com/thumb/msid-108285130,imgsize-692167,width-400,height-225,resizemode-72/108285130.jpg"
                    height="" width="100%" class="img-fluid" />
                <div class="tr-title">
                    <a href="">Bengaluru water crisis: Whitefield companies brace for impact, Peenya
                        industries face production cut</a>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>