<app-category-list></app-category-list>
<div class="container">
    <div class="contact">
        <div class="row">
            <div class="col-md-8">
                <div class="contact-form">
                    <form [formGroup]="contactForm" (ngSubmit)="getContact()">
                        <div class="row mb-2">
                          <div class="form-group col-md-6">
                            <input type="text" class="form-control contact-info" placeholder="Your Name" formControlName="name" [(ngModel)]="contactDetailsObject.name" />
                            <div *ngIf="hasError('name', 'required')" class="text-danger">Name is required.</div>
                          </div>
                          <div class="form-group col-md-6">
                            <input type="email" class="form-control contact-info" placeholder="Your Email" formControlName="email" [(ngModel)]="contactDetailsObject.email"/>
                            <div *ngIf="hasError('email', 'required')" class="text-danger">Email is required.</div>
                            <div *ngIf="hasError('email', 'email')" class="text-danger">Please enter a valid email address.</div>
                          </div>
                        </div>
                        <div class="form-group mb-2">
                          <input type="text" class="form-control contact-info" placeholder="Subject" formControlName="subject" [(ngModel)]="contactDetailsObject.subject"/>
                          <div *ngIf="hasError('subject', 'required')" class="text-danger">Subject is required.</div>
                        </div>
                        <div class="form-group mb-2">
                          <textarea class="form-control contact-info" rows="5" placeholder="Message" formControlName="message" [(ngModel)]="contactDetailsObject.message"></textarea>
                          <div *ngIf="hasError('message', 'required')" class="text-danger">Message is required.</div>
                        </div>
                        <button class="btn send-btn" type="submit" [disabled]="!contactForm.valid">Send Message</button>
                        <!-- <button class="btn send-btn" type="submit">Send Message</button> -->
                      </form>
                </div>
                <span class="text-success" #notificartion [class]="display">Message Sent Successfully</span>
            </div>
            <div class="col-md-4">
                <div class="contact-info ms-3">
                    <p class="get-in-touch">Get in Touch</p>
                    <p class="mb-4 contact-info-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Commodi consequuntur
                        asperiores iusto, numquam magni esse voluptates dolore assumenda. Voluptates, eligendi!</p>
                    <div class="d-flex flex-column">
                        <p class="info-item my-1"><i class="fa fa-map-marker me-1"></i>208, Elite Complex, Sola</p>
                        <a class="info-item my-1" href=""><i class="fa fa-envelope me-1"></i>infogmail.com</a>
                        <a class="info-item my-1"><i class="fa fa-phone me-1"></i>+123-456-7890</a>
                        <div class="social-list my-1">
                            <a href="" class="me-2"><i class="fab fa-twitter"></i></a>
                            <a href="" class="me-2"><i class="fab fa-facebook-f"></i></a>
                            <a href="" class="me-2"><i class="fab fa-linkedin-in"></i></a>
                            <a href="" class="me-2"><i class="fab fa-instagram"></i></a>
                            <a href="" class="me-2"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>