.news-category {
    .news-category-inner {
        border-radius: 10px;

        .news-category-header {
            border-bottom: 8px double #aaa3b9;

            .header-title {
                font-size: 30px;
                line-height: 46px;
                font-weight: 600;
                text-decoration: none;
                color: #a52a2a;
                cursor: pointer;

                &:hover {
                    color: #bb3434;
                }
            }
        }

        .news-category-list {
            position: relative;



            // box-shadow: 0px 7px 7px brown;
            .card {
                &.tn-img {
                    border: 1px solid #faebd7;

                    .card-body {
                        border-radius: 0px 0px 5px 5px;
                        background-color: #faebd7;
                        word-break: break-all;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        // height: 160px;
                        // width: auto;
                        padding-bottom: 10px;
                        height: 120px;


                        a {
                            text-decoration: none;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 24px;
                            color: #4e4b66;


                            &:hover {
                                color: #a52a2a;
                            }

                        }
                    }

                }
            }
        }

        .owl-nav {
            display: none;
        }

        .owl-dots {
            display: none;
        }
    }
}