<div class="container-fluid exclusive-cat py-4 mb-5">
    <div class="container">
        <div>
            <p class="exclusive-news">Exclusive News</p>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let x of img_data">
                    <div class="card ec-img p-1">
                        <img src="{{x.src}}"
                            class="card-img-top" alt="..." height="175px">
                        <div class="card-body pb-3">
                            <a href="#" class="card-text mb-5">{{x.title}}</a>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>