<div class="main-news">
    <div class="row">
        <div class="col-lg-8">
            <div class="mn-content mb-3 p-3">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-xl-4 mb-3" *ngFor="let x of data_of_news">
                        <div class="mn-item">
                            <div class="mn-img">
                                <img src="{{x.url}}"
                                    alt="news" height="171px" width="100%">
                                <div class="mn-title"><a class="mn-link" href="#">{{x.title}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="read-more p-3">
                <p class="rm-heading">Read More</p>
                <ul class="rm-list">
                    <li class="rm-item" *ngFor="let y of useful_news"><a href="" class="rm-link">{{y.link}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
