<!-- <app-header></app-header> -->
<!-- <p>admin-login works!</p> -->
<div>
    <div class="container">
        <div class="login-wrapper">
            <div *ngIf="loginform">
                <div class="login-form py-5 px-3 my-4">
                    <div class="d-flex justify-content-center">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active login-tab-link" id="user-tab" data-bs-toggle="tab"
                                    data-bs-target="#user-tab-pane" type="button" role="tab"
                                    aria-controls="user-tab-pane" aria-selected="true">Log in as User</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link login-tab-link" id="admin-tab" data-bs-toggle="tab"
                                    data-bs-target="#admin-tab-pane" type="button" role="tab"
                                    aria-controls="admin-tab-pane" aria-selected="false">Log in as Admin</button>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="user-tab-pane" role="tabpanel"
                            aria-labelledby="user-tab" tabindex="0">
                            <div class="text-center mb-5">
                                <p class="login-text">User Login</p>
                            </div>

                            <form [formGroup]="userloginForm" (ngSubmit)="onSubmit(usermail.value,userpassword.value)">
                                <div class="mb-3">
                                    <label for="useremail" class="form-label login-label">Email address</label>
                                    <input type="email" class="form-control" #usermail aria-describedby="emailHelp"
                                        placeholder="Enter Email" size="50" formControlName="useremail">
                                    <div *ngIf="hasError('useremail', 'required') || hasError('useremail', 'email')"
                                        class="text-danger">
                                        <small *ngIf="hasError('useremail', 'required')">Email is required.</small>
                                        <small *ngIf="hasError('useremail', 'email')">Invalid email format.</small>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="userpassword" class="form-label login-label">Password</label>
                                    <input type="password" class="form-control" #userpassword
                                        placeholder="Enter Password" size="50" formControlName="userpassword">
                                    <div *ngIf="hasError('userpassword', 'required')" class="text-danger">
                                        <small>Password is required.</small>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn login-btn"
                                        [disabled]="!userloginForm.valid">Submit</button>
                                </div>
                                <div class="text-center">
                                    <a (click)="showregistrationForm()">Don't Have Account? Register Here</a>
                                </div>

                            </form>

                        </div>
                        <div class="tab-pane fade" id="admin-tab-pane" role="tabpanel" aria-labelledby="admin-tab"
                            tabindex="0">
                            <div class="text-center mb-5">
                                <p class="login-text">Admin Login</p>
                            </div>
                            <form [formGroup]="loginForm" (ngSubmit)="submitForm(mail.value, pass.value)">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label login-label">Email address</label>
                                    <input type="email" class="form-control" #mail aria-describedby="emailHelp"
                                        placeholder="Enter Email" size="50" formControlName="email" required>
                                    <div *ngIf="hasError('email', 'required')" class="text-danger">Email is required.
                                    </div>
                                    <div *ngIf="hasError('email', 'email')" class="text-danger">Please enter a valid
                                        email
                                        address.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label login-label">Password</label>
                                    <input type="password" class="form-control" #pass placeholder="Enter Password"
                                        size="50" formControlName="password">
                                    <div *ngIf="hasError('password', 'required')" class="text-danger">Password is
                                        required.
                                    </div>
                                    <div *ngIf="hasError('password', 'minlength')" class="text-danger">Password must be
                                        at
                                        least
                                        8 characters long.</div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn login-btn"
                                        [disabled]="!loginForm.valid">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="userregistration">
                <form>
                    <div class="mb-3">
                        <label for="regemail" class="form-label login-label">Email address</label>
                        <input type="email" class="form-control" #usermail aria-describedby="emailHelp"
                            placeholder="Enter Email" size="50" formControlName="regemail">
                        <!-- <div *ngIf="hasError('regemail', 'required') || hasError('regemail', 'email')"
                            class="text-danger">
                            <small *ngIf="hasError('regemail', 'required')">Email is required.</small>
                            <small *ngIf="hasError('regemail', 'email')">Invalid email format.</small>
                        </div> -->
                    </div>
                    <div class="mb-3">
                        <label for="userpassword" class="form-label login-label">Password</label>
                        <input type="password" class="form-control" #userpassword placeholder="Enter Password" size="50"
                            formControlName="regpassword">
                        <!-- <div *ngIf="hasError('regpassword', 'required')" class="text-danger">
                            <small>Password is required.</small>
                        </div> -->
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn login-btn" [disabled]="!userloginForm.valid">Submit</button>
                    </div>
                    <div class="text-center">
                        <a (click)="showregistrationForm()">Don't Have Account? Register Here</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loginasadmin"><app-admin-panel></app-admin-panel></div>
<div *ngIf="loginasuser">
    <app-user-panel></app-user-panel>
</div>
