.home-page-content {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    // align-items: center;
    button{
        // padding: 10px;
        height: 45px;
        // width: 45px;
        padding-inline: 12px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        background-color: #a52a2a;
        border: none;
        color: #faebd7;
        // display: none;
        margin-inline: 8px;
    }
    .showNext{
        display: none;
    }
    .showPrev{
        display: none;
    }

    .category-list-wrapper {
        overflow-x: auto;
        padding-left: 0px;
        // margin-right: 10px;
        
        &::-webkit-scrollbar{
            display: none;
        }
        .category-list {
            padding-left: 0px;
            // padding-right: 20px;

            .category-item {
                font-size: 18px;
                padding: 4px 15px;
                background-color: #faebd7;
                color: #a52a2a;
                border-radius: 5px;
                margin: 5px 2px;
                font-weight: 500;
                &:hover{
                    background-color: #a52a2a;
                    color: #faebd7;
                }
            }
        }
    }
}