<div class="" id="latest">
    <div class="d-flex mb-2 align-items-start sn-content-item p-2 rounded">
        <img src="https://www.livemint.com/lm-img/img/2024/03/06/600x338/SC_1709708664088_1709708664225.jpg"
            class="img-fluid h-25 w-25" alt="news">
        <div class="ms-1"><a href="">
                Sandeshkhali case: West Bengal govt seeks urgent listing of plea in SC
                against transfer of probe to CBI</a></div>
    </div>
    <div class="d-flex mb-2 align-items-start sn-content-item p-2 rounded">
        <img src="https://images.indianexpress.com/2024/03/Modi-N24.jpeg?w=430"
            class="img-fluid h-25 w-25" alt="news">
        <div class="ms-1"><a href="">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. A,
                debitis.</a> </div>
    </div>
    <div class="d-flex mb-2 align-items-start sn-content-item p-2 rounded">
        <img src="https://images.indianexpress.com/2024/03/ukraine-russia.jpg?w=640"
            class="img-fluid h-25 w-25" alt="news">
        <div class="ms-1"><a href="">7 more Indians release video, say forced to fight
                Ukraine war by Russian army</a> </div>
    </div>
</div>
