<div class="" id="popular">
    <div class="d-flex mb-2 align-items-start sn-content-item p-2 rounded">
        <img src="https://static.toiimg.com/thumb/msid-108246802,width-450,resizemode-4,imgsize-42130/92120052.jpg"
            class="img-fluid h-25 w-25" alt="news">
        <div class="ms-1"><a href="">India ensuring no one exercises hegemony in Indian
                Ocean: Rajnath Singh's veiled dig at China</a> </div>
    </div>
    <div class="d-flex mb-2 align-items-start sn-content-item p-2 rounded">
        <img src="https://c.ndtvimg.com/2024-03/d63da9e8_pm-narendra-modi_120x90_06_March_24.jpg"
            class="img-fluid h-25 w-25" alt="news">
        <div class="ms-1"><a href="">"Using All Might To Save Culprit": PM's Sheikh
                Shahjahan Barb At Trinamool</a> </div>
    </div>
    <div class="d-flex mb-2 align-items-start sn-content-item p-2 rounded">
        <img src="https://www.hindustantimes.com/ht-img/img/2024/03/06/550x309/Propaganda_Ukrainian_YouTuber_Deepfake_Chinese_1709707746696_1709707746906.png"
            class="img-fluid h-25 w-25" alt="news">
        <div class="ms-1"><a href="">Ukrainian YouTuber finds deepfakes of herself on
                Chinese social media, claims they're being used to promote propagand</a>
        </div>
    </div>
</div>
