.more-news {
    .more-news-title {
        font-size: 40px;
        border-bottom: 8px double #aaa3b9;
        padding-bottom: 5px;
        color: #a52a2a;
        font-weight: 600;
    }

    .left-part {
        .mn-item {
            .mn-contan {
                .mn-text {
                    text-decoration: none;
                    color: #4e4b66;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24px;

                    &:hover {
                        color: #a52a2a;
                    }
                }
            }
        }
    }

    .right-part {
        .mn-item {
            .mn-contan {
                .mn-text {
                    text-decoration: none;
                    color: #4e4b66;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24px;

                    &:hover {
                        color: #a52a2a;
                    }
                }
            }
        }
    }
}