<div class="container">
    <div class="more-news">
        <p class="more-news-title">More News</p>
        <div class="row">
            <div class="col-12 col-lg-6" *ngFor="let x of img_data">
                <div class="left-part">
                    <div class="d-flex mb-3 align-items-start mn-item p-3 rounded bg-white" *ngFor="let y of x.img_src">
                        <img src="{{y.src}}" class="h-100 w-25" alt="news">
                        <div class="ms-3 mn-contan"><a href="#" class="mn-text">{{y.title}}</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>