<!-- <app-category-list></app-category-list> -->
<div class="home-page-content">
<div class="container">
    <div class="mt-4">
        <app-main-news></app-main-news>
        <app-news-category></app-news-category>
        <app-short-news></app-short-news>
        <app-top-news></app-top-news>
    </div>
</div>
</div>

<!-- <li class="category-item text-nowrap">Entertainment</li>
<li class="category-item text-nowrap">Business</li>
<li class="category-item text-nowrap">Bollywood</li>
<li class="category-item text-nowrap">Politic</li>
<li class="category-item text-nowrap">Education</li>
<li class="category-item text-nowrap">Web Series</li>
<li class="category-item text-nowrap">Health & Wellness</li>
<li class="category-item text-nowrap">Prices</li>
<li class="category-item text-nowrap">Currencies</li>
<li class="category-item text-nowrap">Lifestyle</li>
<li class="category-item text-nowrap">Technology</li>
<li class="category-item text-nowrap">Trending</li>
<li class="category-item text-nowrap">Food</li>
<li class="category-item text-nowrap">Robotics</li>
<li class="category-item text-nowrap">Art & Craft</li>
<li class="category-item text-nowrap">Arcitructure</li>
<li class="category-item text-nowrap">Defence</li>
<li class="category-item text-nowrap">Technology</li>
<li class="category-item text-nowrap">Trending</li>
<li class="category-item text-nowrap">Food</li>
<li class="category-item text-nowrap">Robotics</li>
<li class="category-item text-nowrap">Art & Craft</li>
<li class="category-item text-nowrap">Arcitructure</li>
<li class="category-item text-nowrap">Defence</li> -->