.admin-panel{
    margin-top: 100px;
    .table-heading{
        color: #a52a2a;
    }
    table{
        tr{
            th{
                color: #a52a2a; 
                background-color: #faebd7;
            }
            td{
                color: #080400;
            }
        }
    }
}